-# -if @post.errors.any?
-# -#errors
-#   %h2
-#   =pluralize(@post.errors.count, "errors")
-#   prevented this Post from completion!


.posts-wrapper.row
  .post
    .post-head
      .caption
        = @post.caption
    .image.center-block
      = image_tag @post.image, class: 'img-responsive'

    =render 'form'

    =link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }
    |
    =link_to "Cancel", root_path
