.posts-wrapper.row
  .post
    .post-head
      .name
        = @post.user.user_name

      .caption
        = @post.caption

    .image.center-block
      = image_tag @post.image, class: 'img-responsive'
    .text-center.edit-links
      -if @post.user.id == current_user.id
        =link_to "Edit", edit_post_path, class: 'btn btn-default btn-xs'
        =link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-default btn-xs'
        =link_to "Flow", root_path, class: 'btn btn-default btn-xs'
