.posts-wrapper.row
  .post
    .post-head
      .name
        deoxilix

      .caption
        = @post.caption

    .image.center-block
      = image_tag @post.image, class: 'img-responsive'
    .text-right
      =link_to "Edit", edit_post_path
      |
      =link_to "Flow", root_path
